* {
    box-sizing: border-box;
}

body {
    background-color: #ebf3f6;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    padding-top: 5vh;
    font-size: 14vh;
    font-family: 'Cardo', serif;
    color: rgb(1, 34, 62);
    text-align: center;
}

h2 {
    font-family: 'Cardo', serif;
    font-size: 8vh;
    font-weight: bold;
    color: #00296b;
    padding-left: 7vw;
    padding-top: 5vh;
}

h2.item-column {
    margin-left: 3vw;
    margin-top: 5vh;
    padding-left: 0.8vw;
    font-size: 7vh;
}

form {
    margin-top: -15vh;
    margin-left: 15vh;
}


p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vh;
    padding-left: 5vw;
}

.odds {
    font-weight: bold;
    font-size: 6vh;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.item-column {
    align-self: stretch;
    flex-grow: 1;
    width: 100%;
    height: auto;
}

.item-row {
    flex: 1;
    width: 50%;
}

.top {
    height: 100vh;
    background-image: url(images/luxury.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px 8px #ebf3f6 inset;
}

.middle {
    height: 70vh;
}

.bottom {
    height: 100vh;
}

.background-1 {
    background-color: rgb(168, 182, 191);
}

.background-2 {
    background-color: rgb(222, 221, 214);
}

.buttonholder {
    text-align: center;
}

.button {
    background-color: rgb(222, 221, 214);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cardo', serif;
    padding: 10px 10px;
    margin-right: 22vh;
    color: #00296b;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    border-color: #00296b;
}

.question {
    font-family: 'Cardo', serif;
    font-size: 35vh;
    text-align: center;
    color: #00296b;

}